<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>farmWap</title>
		<!-- metatags -->
		<meta name="keywords" content="网页关键字" /> 
		<meta name="description" content="网页描述文字" /> 
		<!-- **** Viewport **** -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../common/style/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style/common.css"/>
		<!-- JS -->
	  	<script type="text/javascript" src="../common/scripts/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="../common/scripts/script.js"></script>
		<style type="text/css">
			html, body{
				height: 100%;
			}
		</style>
	</head>
	<body class="bodyFlex">
		<header id="header">
			<div class="header">
				<span class="ico_back"></span>
				<h1>购物车</h1>
			</div>
		</header>
		<div class="container h_hd100 pst_total">
			<div class="boxInfo infoPro">
				<dl>
					<dt class="boxcheck">
                        <input type="checkbox" value="1" id="checkboxInput1" class="check_box" name="" />
                        <label for="checkboxInput1"></label>
					</dt>
					<dd>
						<div class="pic"><img src="../common/images/pro01.jpg" alt=""></div>
						<div class="infoTxt">
							<h3 class="infoTtl">新果烟台红富士苹果 产地现摘正宗新鲜苹果5斤包邮</h3>
							<p class="infoPrice"><span class="fr">x1</span><span class="price">¥24.90</span><del>￥86</del></p>
							<a href="#" class="ico_del"></a>
						</div>
					</dd>
				</dl>
				<dl>
					<dt class="boxcheck">
                        <input type="checkbox" value="1" id="checkboxInput2" class="check_box" name="" />
                        <label for="checkboxInput2"></label>
					</dt>
					<dd>
						<div class="pic"><img src="../common/images/pro01.jpg" alt=""></div>
						<div class="infoTxt">
							<h3 class="infoTtl">新果烟台红富士苹果 产地现摘正宗新鲜苹果5斤包邮</h3>
							<p class="infoPrice"><span class="fr">x1</span><span class="price">¥24.90</span><del>￥86</del></p>
							<a href="#" class="ico_del"></a>
						</div>
					</dd>
				</dl>
				<dl>
					<dt class="boxcheck">
                        <input type="checkbox" value="1" id="checkboxInput3" class="check_box" name="" />
                        <label for="checkboxInput3"></label>
					</dt>
					<dd>
						<div class="pic"><img src="../common/images/pro01.jpg" alt=""></div>
						<div class="infoTxt">
							<h3 class="infoTtl">新果烟台红富士苹果 产地现摘正宗新鲜苹果5斤包邮</h3>
							<p class="infoPrice"><span class="fr">x1</span><span class="price">¥24.90</span><del>￥86</del></p>
							<a href="#" class="ico_del"></a>
						</div>
					</dd>
				</dl>
				<dl>
					<dt class="boxcheck">
                        <input type="checkbox" value="1" id="checkboxInput4" class="check_box" name="" />
                        <label for="checkboxInput4"></label>
					</dt>
					<dd>
						<div class="pic"><img src="../common/images/pro01.jpg" alt=""></div>
						<div class="infoTxt">
							<h3 class="infoTtl">新果烟台红富士苹果 产地现摘正宗新鲜苹果5斤包邮</h3>
							<p class="infoPrice"><span class="fr">x1</span><span class="price">¥24.90</span><del>￥86</del></p>
							<a href="#" class="ico_del"></a>
						</div>
					</dd>
				</dl>
			</div>
			<div class="total">
				<button>结算</button>
				<p class="totalPrice fr">合计：<span class="price">￥97.2.00</span></p>
				<span class="checkall">
					<input type="checkbox" value="1" id="checkboxInput" class="check_box" name="" />
                    <label for="checkboxInput" id="checkall"></label>全选
                </span>
			</div>
		</div>
		<footer id="footer">
			<div class="footer">
				<ul>
					<li><a href="javascript:void(0);">
						<em class="ico_home"></em>
						<p>首页</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_category"></em>
						<p>分类</p>
					</a></li>
					<li class="cur"><a href="javascript:void(0);">
						<em class="ico_cart"></em>
						<p>购物车</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_order"></em>
						<p>订单</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_user"></em>
						<p>我的</p>
					</a></li>
				</ul>
			</div>
		</footer>
		<!-- wrap_float -->
        <div class="wrap_float" id="floatbox">
          <div class="flbox">
            <h4>你确定要删除该宝贝吗？</h4>
            <div class="t_c">
	            <button class="btn_gray btn_cancel">取消</button><button class="btn_green">确定</button>
            </div>
          </div>
        </div>
	</body>
</html>