<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>farmWap</title>
		<!-- metatags -->
		<meta name="keywords" content="网页关键字" /> 
		<meta name="description" content="网页描述文字" /> 
		<!-- **** Viewport **** -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../../common/style/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../common/style/common.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style/style.css"/>
		<!-- JS -->
	  	<script type="text/javascript" src="../../common/scripts/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="../common/scripts/script.js"></script>
		<script type="text/javascript" src="../common/scripts/sign/sign_calendar.js"></script>
		<script type="text/javascript">
			$(function(){
				//ajax获取日历json数据
				var signList=[{"signDay":"28"}];
				calUtil.init(signList);
			});
		</script>
	</head>
	<body class="bodyBlue_5 bodyFlex">
		<header id="header">
			<div class="header">
				<span class="ico_back"></span>
				<h1>签到</h1>
			</div>
		</header>
		<div class="container h_hd signBox">
			<div class="signCont">
				<button class="btn_sign" id="btn_sign" onclick="myFunction()">签到</button>
				<div id="sign_calendar"></div>
			</div>
		</div>
		<footer id="footer">
			<div class="footer">
				<ul class="gameFoot">
					<li><a href="javascript:void(0);">
						<em class="ico_my"></em>
						<p>我的菜</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_warehouse"></em>
						<p>我的仓库</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_market"></em>
						<p>菜市场</p>
					</a></li>
					<li class="cur"><a href="javascript:void(0);">
						<em class="ico_money"></em>
						<p>我的财</p>
					</a></li>
				</ul>
			</div>
		</footer>
		<!-- wrap_float -->
        <div class="wrap_float floatbox">
			<div class="flBox_sign">
				<div class="smaileBox">
					<span class="smaile_face">
						<span class="eye_l"></span><span class="eye_r"></span><span class="mouth"></span>
					</span>
					<span class="h_l"></span><span class="h_r"></span>
				</div>
				<p><h4>签到成功</h4>恭喜您，加温成功</p>
				<span class="dec_01"></span><span class="dec_02"></span><span class="dec_03"></span><span class="dec_04"></span><span class="dec_05"></span><span class="dec_06"></span><span class="dec_07"></span><span class="dec_08"></span><span class="dec_09"></span>
			</div>
		</div>
	</body>
</html>