<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>farmWap</title>
		<!-- metatags -->
		<meta name="keywords" content="网页关键字" /> 
		<meta name="description" content="网页描述文字" /> 
		<!-- **** Viewport **** -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../../common/style/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../common/style/common.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style/style.css"/>
	</head>
	<body class="bodyGreen bodyFlex">
		<header id="header">
			<div class="header">
				<span class="ico_back"></span>
				<h1>彩票统计</h1>
			</div>
		</header>
		<div class="container h_hd boxBg_4">
			<div class="boxImg"><img src="../common/images/topImg_5.jpg" alt=""></div>
			<div class="icoBox">
				<h3><span class="txtShad">彩票明细查询</span><span class="ttlTxt">彩票明细查询</span></h3>
				<ul>
					<li class="itemO_3"><p class="icoItem"><span class="item_ico ico_10"><span>剩余菜票</span></span></p><span class="icoNum">110分</span></li>
					<li class="itemP_2"><p class="icoItem"><span class="item_ico ico_11"><span>充值统计</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemG_2"><p class="icoItem"><span class="item_ico ico_12"><span>提现统计</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemG_3"><p class="icoItem"><span class="item_ico ico_02"><span>买种蛋</span></span></p><span class="icoNum">110分</span></li>
					<li class="itemR_2"><p class="icoItem"><span class="item_ico ico_06"><span>卖商品鸡</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemP_1"><p class="icoItem"><span class="item_ico ico_13"><span>买种鸡</span></span></p><span class="icoNum">110只</span></li>
					<li class="itemB_4"><p class="icoItem"><span class="item_ico ico_14"><span>卖商品蛋</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemG_4"><p class="icoItem"><span class="item_ico ico_15"><span>买鸡粮</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemO_2"><p class="icoItem"><span class="item_ico ico_16"><span>救晕鸡</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemB_5"><p class="icoItem"><span class="item_ico ico_17"><span>逛商城</span></span></p><span class="icoNum">110次</span></li>
					<li class="itemP_3"><p class="icoItem"><span class="item_ico ico_18"><span>撤单统计</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemO_4"><p class="icoItem"><span class="item_ico ico_19"><span>彩票流转</span></span></p><span class="icoNum">110个</span></li>
				</ul>
			</div>
		</div>
		<footer id="footer">
			<div class="footer">
				<ul class="gameFoot">
					<li><a href="javascript:void(0);">
						<em class="ico_my"></em>
						<p>我的菜</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_warehouse"></em>
						<p>我的仓库</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_market"></em>
						<p>菜市场</p>
					</a></li>
					<li class="cur"><a href="javascript:void(0);">
						<em class="ico_money"></em>
						<p>我的财</p>
					</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>