<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>farmWap</title>
		<!-- metatags -->
		<meta name="keywords" content="网页关键字" /> 
		<meta name="description" content="网页描述文字" /> 
		<!-- **** Viewport **** -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../../common/style/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../common/style/common.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style/style.css"/>
		<!-- JS -->
	  	<script type="text/javascript" src="../../common/scripts/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="../common/scripts/script.js"></script>
	</head>
	<body class="bodyBlue_2 bodyFlex">
		<header id="header">
			<div class="header">
				<span class="ico_back"></span>
				<h1>我的资料</h1>
			</div>
		</header>
		<div class="container h_hd containBox">
			<div class="boxCom boxImg_pad">
				<dl class="userBox" data-toggle="distpicker">
					<dt><span class="ico_arrow"></span><span class="userImg"><img src="../common/images/userImg.png" alt=""></span>糖默默</dt>
					<dd><label class="labW">真实姓名：</label><input class="inpW" type="" name="" placeholder="（选填）用于找回账户"></dd>
					<dd><label class="labW">身份证号：</label><input class="inpW" type="" name="" placeholder="（选填）用于找回账户"></dd>
					<dd><span class="ico_arrow"></span><label class="labW">手机号码：</label><input class="inpW" type="" name="" class="t_r"></dd>
					<dd><span class="ico_arrow"></span><label class="labW">所属省份：</label><input class="inpW btn_province" type="" name=""></dd>
					<dd><span class="ico_arrow"></span><label class="labW">所属城市：</label><input class="inpW" type="" name=""></dd>
					<dd><span class="ico_arrow"></span><label class="labW">所属区县：</label><input class="inpW" type="" name=""></dd>
				</dl>
				<button class="btnG_max">修改</button>
			</div>
			<div class="botImg"><img src="../common/images/botImg_1.png" alt=""></div>
		</div>
		<footer id="footer">
			<div class="footer">
				<ul class="gameFoot">
					<li><a href="javascript:void(0);">
						<em class="ico_my"></em>
						<p>我的菜</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_warehouse"></em>
						<p>我的仓库</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_market"></em>
						<p>菜市场</p>
					</a></li>
					<li class="cur"><a href="javascript:void(0);">
						<em class="ico_money"></em>
						<p>我的财</p>
					</a></li>
				</ul>
			</div>
		</footer>
		<!-- wrap_float -->
        <div class="wrap_float floatbox">
			<div class="flBox flBox2">
				<h3>选择省份</h3>
				<ul class="boxList">
					<li><input class="radio" type="radio" name="radio" id="radio_1"><label for="radio_1"></label>北京</li>
					<li><input class="radio" type="radio" name="radio" id="radio_2"><label for="radio_2"></label>河北省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_3"><label for="radio_3"></label>山西省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_4"><label for="radio_4"></label>内蒙古自治区</li>
					<li><input class="radio" type="radio" name="radio" id="radio_5"><label for="radio_5"></label>辽宁省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_6"><label for="radio_6"></label>吉林省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_7"><label for="radio_7"></label>黑龙江省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_8"><label for="radio_8"></label>上海</li>
					<li><input class="radio" type="radio" name="radio" id="radio_9"><label for="radio_9"></label>江苏省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_10"><label for="radio_10"></label>北京</li>
					<li><input class="radio" type="radio" name="radio" id="radio_12"><label for="radio_12"></label>河北省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_13"><label for="radio_13"></label>山西省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_14"><label for="radio_14"></label>内蒙古自治区</li>
					<li><input class="radio" type="radio" name="radio" id="radio_15"><label for="radio_15"></label>辽宁省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_16"><label for="radio_16"></label>吉林省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_17"><label for="radio_17"></label>黑龙江省</li>
					<li><input class="radio" type="radio" name="radio" id="radio_18"><label for="radio_18"></label>上海</li>
					<li><input class="radio" type="radio" name="radio" id="radio_19"><label for="radio_19"></label>江苏省</li>
				</ul>
			</div>
		</div>
	</body>
</html>