<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>farmWap</title>
		<!-- metatags -->
		<meta name="keywords" content="网页关键字" /> 
		<meta name="description" content="网页描述文字" /> 
		<!-- **** Viewport **** -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../../common/style/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../common/style/common.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style/style.css"/>
	</head>
	<body class="bodyGreen bodyFlex">
		<header id="header">
			<div class="header">
				<span class="ico_back"></span>
				<h1>积分统计</h1>
			</div>
		</header>
		<div class="container h_hd boxBg_4">
			<div class="boxImg"><img src="../common/images/topImg_4.jpg" alt=""></div>
			<div class="icoBox">
				<h3><span class="txtShad">积分明细查询</span><span class="ttlTxt">积分明细查询</span></h3>
				<ul>
					<li class="itemB_1"><p class="icoItem"><span class="item_ico ico_01"><span>积分余额</span></span></p><span class="icoNum">110分</span></li>
					<li class="itemG_1"><p class="icoItem"><span class="item_ico ico_02"><span>下蛋统计</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemB_2"><p class="icoItem"><span class="item_ico ico_03"><span>出鸡统计</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemO_1"><p class="icoItem"><span class="item_ico ico_04"><span>招徒统计</span></span></p><span class="icoNum">110分</span></li>
					<li class="itemG_2"><p class="icoItem"><span class="item_ico ico_05"><span>换蛋统计</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemR_1"><p class="icoItem"><span class="item_ico ico_06"><span>换鸡统计</span></span></p><span class="icoNum">110只</span></li>
					<li class="itemP_1"><p class="icoItem"><span class="item_ico ico_07"><span>逛店统计</span></span></p><span class="icoNum">110家</span></li>
					<li class="itemB_3"><p class="icoItem"><span class="item_ico ico_08"><span>成为师爷</span></span></p><span class="icoNum">110个</span></li>
					<li class="itemO_2"><p class="icoItem"><span class="item_ico ico_09"><span>成为盟主</span></span></p><span class="icoNum">110个</span></li>
				</ul>
			</div>
		</div>
		<footer id="footer">
			<div class="footer">
				<ul class="gameFoot">
					<li><a href="javascript:void(0);">
						<em class="ico_my"></em>
						<p>我的菜</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_warehouse"></em>
						<p>我的仓库</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_market"></em>
						<p>菜市场</p>
					</a></li>
					<li class="cur"><a href="javascript:void(0);">
						<em class="ico_money"></em>
						<p>我的财</p>
					</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>