<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>farmWap</title>
		<!-- metatags -->
		<meta name="keywords" content="网页关键字" /> 
		<meta name="description" content="网页描述文字" /> 
		<!-- **** Viewport **** -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../../common/style/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../common/style/common.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style/style.css"/>
	</head>
	<body class="bodyFlex bodyWhite">
		<header id="header">
			<div class="header">
				<span class="ico_back"></span>
				<h1>积分兑换</h1>
			</div>
		</header>
		<div class="container">
			<ul class="pointsBox">
				<li>拥有商品蛋:</li>
				<li>拥有商品鸡:</li>
				<li>已有的积分:</li>
			</ul>
			<ul class="pointChange">
				<li><label>蛋兑换数：</label><input type="" name="" placeholder="填入兑换商品蛋数量"></li>
				<li><label>鸡兑换数：</label><input type="" name="" placeholder="填入兑换商品鸡数量"></li>
				<li><label>支付密码：</label><input type="" name="" placeholder="六位数支付密码"></li>
			</ul>
			<button class="btnG_max">确认兑换积分</button>
		</div>
		<footer id="footer">
			<div class="footer">
				<ul class="gameFoot">
					<li><a href="javascript:void(0);">
						<em class="ico_my"></em>
						<p>我的菜</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_warehouse"></em>
						<p>我的仓库</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_market"></em>
						<p>菜市场</p>
					</a></li>
					<li class="cur"><a href="javascript:void(0);">
						<em class="ico_money"></em>
						<p>我的财</p>
					</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>