<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>farmWap</title>
		<!-- metatags -->
		<meta name="keywords" content="网页关键字" /> 
		<meta name="description" content="网页描述文字" /> 
		<!-- **** Viewport **** -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="../../common/style/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../common/style/common.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style/style.css"/>
		<!-- JS -->
	  	<script type="text/javascript" src="../../common/scripts/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="../common/scripts/script.js"></script>
		<script type="text/javascript" src="../common/scripts/points/lhgcore.js"></script>
		<script type="text/javascript" src="../common/scripts/points/lhgcalendar.js"></script>
	</head>
	<body class="bodyBlue bodyFlex">
		<header id="header">
			<div class="header">
				<span class="ico_back"></span>
				<h1>积分明细</h1>
			</div>
		</header>
		<div class="container h_hd boxBg_1">
			<div class="boxCon">
				<ul class="listBox">
					<li class="points"><span class="labW">积分类型</span><input class="inpW" type="" name=""><span class="ico_arrow"></span></li>
					<li><span class="labW">起始时间</span><input class="inpW" readonly type="text" id="c1" onclick="J.calendar.get({to:'c2,min'});"><span class="ico_arrow"></span></li>
					<li><span class="labW">截至时间</span><input class="inpW" readonly type="text" id="c2" onclick="J.calendar.get({to:'c1,max'});"><span class="ico_arrow"></span></li>
				</ul>
				<button class="btnG_max">查询</button>
				<div class="searchTab">
					<table class="tabBor">
						<tr>
							<th>时间</th>
							<th>类型</th>
							<th>数额</th>
						</tr>
						<tr>
							<td>06-27 00:41:28</td>
							<td>出鸡获得</td>
							<td class="colYll">￥300</td>
						</tr>
						<tr>
							<td>06-27 00:41:28</td>
							<td>出鸡获得</td>
							<td class="colYll">￥300</td>
						</tr>
						<tr>
							<td>06-27 00:41:28</td>
							<td>出鸡获得</td>
							<td class="colYll">￥300</td>
						</tr>
						<tr>
							<td>06-27 00:41:28</td>
							<td>出鸡获得</td>
							<td class="colYll">￥300</td>
						</tr>
						<tr>
							<td>06-27 00:41:28</td>
							<td>出鸡获得</td>
							<td class="colYll">￥300</td>
						</tr>
						<tr>
							<td>06-27 00:41:28</td>
							<td>出鸡获得</td>
							<td class="colYll">￥300</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div class="footer">
				<ul class="gameFoot">
					<li><a href="javascript:void(0);">
						<em class="ico_my"></em>
						<p>我的菜</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_warehouse"></em>
						<p>我的仓库</p>
					</a></li>
					<li><a href="javascript:void(0);">
						<em class="ico_market"></em>
						<p>菜市场</p>
					</a></li>
					<li class="cur"><a href="javascript:void(0);">
						<em class="ico_money"></em>
						<p>我的财</p>
					</a></li>
				</ul>
			</div>
		</footer>
		<!-- wrap_float -->
        <div class="wrap_float floatbox">
			<div class="flBox flBox2">
				<h3>选择记录类型</h3>
				<ul class="boxList">
					<li><input class="radio" type="radio" name="radio" id="radio_1"><label for="radio_1"></label>签到获得</li>
					<li><input class="radio" type="radio" name="radio" id="radio_2"><label for="radio_2"></label>下蛋获得</li>
					<li><input class="radio" type="radio" name="radio" id="radio_3"><label for="radio_3"></label>出鸡获得</li>
					<li><input class="radio" type="radio" name="radio" id="radio_4"><label for="radio_4"></label>招徒获得</li>
					<li><input class="radio" type="radio" name="radio" id="radio_5"><label for="radio_5"></label>成为师爷</li>
					<li><input class="radio" type="radio" name="radio" id="radio_6"><label for="radio_6"></label>成为盟主</li>
					<li><input class="radio" type="radio" name="radio" id="radio_7"><label for="radio_7"></label>换商品蛋</li>
					<li><input class="radio" type="radio" name="radio" id="radio_8"><label for="radio_8"></label>换商品鸡</li>
					<li><input class="radio" type="radio" name="radio" id="radio_9"><label for="radio_9"></label>逛商品</li>
				</ul>
			</div>
		</div>
		<!-- <div id="boxPop2" class="boxPop">
			<div class="flBox flBox2">
				<h3>星期二</h3>
				<div class="calendarBox">
					<div class="dateItem">
						<p class="calendar_year">2017</p>
						<p class="calendar_month">6月</p>
						<p class="calendar_day">28</p>
					</div>
					<div id="calendar"></div>
					<p class="btnPop">
						<button class="btnS_o" onclick="hide('boxPop2')">取消</button><button class="btnS_g">确定</button>
					</p>
				</div>
			</div>
		</div> -->
	</body>
</html>